# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
docker-debug.log*

# Docker
docker-data
postgres_data

# IDE
.vscode/*
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?