services:
    # Front
    client:
        build: ./client
        restart: always
        ports:
            - '8080:80'
        depends_on:
            - server

    # Back
    server:
        build: ./server
        restart: always
        expose:
            - '3000'
        environment:
            - PORT=3000
            - NODE_ENV=production
            - DATABASE_URL=postgresql://tasker4:${DB_PASSWORD}@db:5432/task4db
            - EMAIL_USER=${EMAIL_USER}
            - EMAIL_PASS=${EMAIL_PASS}
            - APP_URL=${APP_URL}
            - LOG_LOCALE=${LOG_LOCALE}
            - LOG_TIMEZONE=${LOG_TIMEZONE}

    # Database
    db:
        image: postgres:18-alpine
        restart: always
        environment:
            POSTGRES_USER: tasker4
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: task4db
        volumes:
            - postgres_data:/var/lib/postgresql/data
        expose:
            - '5432'

volumes:
    postgres_data:
        driver: local
